<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read session</title>
</head>
<body>
    <table>
        <tr><td>Session key or ID:-</td><td>{{request.session.session_key}}</td></tr>
        <tr><td>Cookies data:-</td><td>{{data}}</td></tr>
        <tr><td>My Data</td><td><input type="text" name="textdata" id="id_textdata" value="{{request.session.mydata}}"></td></tr>
        <tr><td></td><td><input type="submit" value="Write Data into Session"></td></tr>
    </table>
</body>
</html>