<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write session</title>
</head>
<body>
    <form action="" method="POST">
    {% csrf_token %}

        <table>
            <tr><td>Session key or ID:-</td><td>{{request.session.session_key}}</td></tr>
            <tr><td>Enter Data</td><td><input type="text" name="textdata" id="id_textdata"></td></tr>
            <tr><td></td><td><input type="submit" value="Write Data into Session"></td></tr>
        </table>
    </form>
    
    
</body>
</html>