<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Customer by id</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
            <td>Enter id</td><td><input type="text" name="cusid" id="cusid"></td><td><input type="submit" value="search"></td>
        </tr>
        <tr><td colspan="6">{{details}}</td></tr>
        </table>
    </form>

    
</body>
</html>