<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- <form action="" method="POST">
        {% csrf_token %}
    </form> -->
    <!-- <h1 style="background-color: beige;">This is html heading {{e}}</h1>This is html -->
<!-- This DTL means dynemically change page -->
    <!-- <a href="https://www.linkedin.com/home?originalSubdomain=in" target="_blank">linkedin</a>
    {% for e in nos %}
    <h1 style="background-color:{% cycle 'red' 'blue' 'cyan' 'yellow' %};">This is html heading {{e}}</h1>
    {% endfor %} 
    -->
    {{form.as_p}}
</body>
</html>